<section class="footer" style="margin-top: 150px;">
  <!-- Footer -->
  <footer class="mt-auto bg-secondary text-white">
    <!-- Grid container -->
    <div class="container-lg p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Roomies</h5>

          <p>
            The fastest, safest, and free way of finding your next roommate. Create your listing and get your search started today!
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <!--          <h5 class="text-uppercase">Links</h5>-->

          <!--          <ul class="list-unstyled mb-0">-->
          <!--            <li>-->
          <!--              <a href="#!" class="text-white">Line 1</a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a href="#!" class="text-white">Link 2</a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a href="#!" class="text-white">Link 3</a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a href="#!" class="text-white">Link 4</a>-->
          <!--            </li>-->
          <!--          </ul>-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <p><i class="fa fa-envelope-o mr-3"></i> support@roomies.demo</p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © <%= Time.zone.now.year %> Copyright:
      <%= link_to "roomies.demo", root_path, class: "text-white" %>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
